$primary: slategrey;

%headerFont {
  font-family: 'Lora', serif;
}

%bodyFont {
  font-family: 'Open Sans', sans-serif;
}

body {
  @extend %bodyFont;
  background: seashell;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerContent {
  @extend %headerFont;
  text-align: center;
}

.submitBtn {
  background-color: $primary;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 4%;
}

#githubSearch {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  label {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 2%;
  }
  input[type="text"] {
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    outline: 0px !important;
    -webkit-appearance: none;
    &:focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
  }
}

ul {
  background-color: white;
  padding: 5% 8%;
  margin: 4% auto;
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  li {
      width: 100%;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primary;
    .fullName {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .button {
      border: 2px solid $primary;
      padding: 3px 10px;
      color: $primary;
      text-decoration: none;
      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
}
