body {
  background: seashell;
  font-family: 'Lora', serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#githubSearch {
  display: flex;
  flex-direction: column;
  text-align: center;
  label {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
  }
  input {
    width: 300px;
  }
  button {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
  }
}

li {
  font-size: 15px;
  line-height: 25px;
  .fullName {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
